<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create a new Contact</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="post" action="/createContact">
            <p>
                <label for="name">Name</label>
            </p>
            <input type="text" name="name" id="name">

            <p>
                <label for="phone">Phone</label>
            </p>
            <input type="text" name="phone" id="phone">

            <input type="submit" value="Create">
        </form> 
    </body>
</html>
